html {
  width: 100%;
  height: 100%;
  background-image: url(./images/other_bg.jpg);
  background-repeat: no-repeat;
  margin: auto;
}

body {
  background-color: transparent;
  color: white;
  margin: auto;
  padding: 0px 10px 0px 10px;
  height: 50%;
}

.container {
  width: 100%;
  /*   height: 1900%;
  background-color: red; */
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 36px;
}
.rect-box {
  color: white;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: auto;
  margin-bottom: 15px;
  border: 3px solid red;
  background-color: red;
  text-transform: uppercase;
  font-size: 30px;
}

img {
  width: 20%;
  height: 20%;
}
.topic {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
